<div>
    <input type="text" [(ngModel)]="droneToFind" placeholder="Entrez le numéro du drone"/>
    <button (click)="findDrone(droneToFind)">Go!</button> {{droneToFind}}
</div>

<div id="map" class="map" style="height: 800px;">

</div>
