<h1>Récapitulatif des commandes</h1>
<table>
    <thead>
        <tr>
            <th>n° commande</th>
            <th>Date et heure de livraison</th>

        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr *ngFor="let data of commandeList">
            <td>{{data.id}}</td>
            <td>{{data.date}}</td>

            <button (click)="updateCommande()">Editer</button>
            <button (click)="deleteCommande()">Supprimer</button>
        </tr>
    </tbody>
</table>