<h1>Enregistrer une nouvelle commande</h1>

<div>
    <label for="id">Id livraison:</label>
    <input id="id" type="number" [(ngModel)]="id"/>
</div>
<div>
    <label for="dateLivraison">Date de livraison:</label>
    <input id="dateLivraison" type="date"/>
</div>
<div>
    <label for="commandeId">Id commande:</label>
    <input id="commandeId" type="number" [(ngModel)]="commandeId"/>
</div>
<div>
    <label for="droneId">Id du drone:</label>
    <input id="droneId" type="number" [(ngModel)]="droneId"/>
</div>

<button (click)="addDelivery()">Valider</button>


