<h1>Gestion la flotte</h1>

<button (click)="addDrone()">Ajouter un Drone</button>

<div class="details" *ngFor="let data of dronesList">
    <p>Drone n°{{data.id}} </p>
    <p>Latitude: {{data.latitude}}</p>
    <p>Longitude: {{data.longitude}}</p>
    <p>Statut: {{data.statut}}</p>
    <button (click)="deleteDrone()">Supprimer</button>
</div>